.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-container > * {
  width: 100%;
  margin: 10px;
}
.upper-container {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
}
.upper-container img {
  object-fit: contain;

  display: block;
  margin: auto;
  border-radius: 5px;
}
.column {
  position: relative;
  overflow: hidden;
}
.lower-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-container img {
  object-fit: contain;

  border-radius: 5px;
  display: block;
  margin: 10px;
  max-height: 50vh;
}
.lower-container-inner {
  color: white;
  position: absolute;
  bottom: 10%;
  left: 5%;
}
.upper-container-inner {
  color: white;
  font-size: 1em;
  position: absolute;
  bottom: 10%;
  left: 30%;
}

@media (max-width: 920px) {
  .lower-container-inner img {
    margin: auto;
  }
  .upper-container-inner {
    font-size: 0.8em;
    width: 80%;
    left: 10%;
  }
  .upper-container-inner h1{
    font-size: 2em;

  }
  .upper-container img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
  }
  .lower-container-inner {
  left: 15%;

    font-size: 0.8em;
    width: 80%;
  }
  .lower-container-inner h1 {
    font-size: 2em;
  }
}
