.app-container{
    /* background: #000000;
    background-image: url("body-bg-1147329ff84932d5d516345534081473c523f48d3274b91bb3d3592026052994.png");

    background-size: cover;
    background-repeat: no-repeat; */
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
.app-inner-container{
    display: flex;
    justify-content: center;
}
@media (max-width:920px){
.app-inner-inner-container{
    width: 90%;
}
}

