
.app-inner-container{
    display: flex;
    justify-content: center;
}
@media (max-width:920px){
.app-inner-inner-container{
    width: 90%;
}
.app-inner-container{
    display: flex;
    justify-content: center;
    
}
}

